{% extends 'common/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Analytics</title>
</head>
<body>
    <div class="containers">
        <h1 class="title">Event Analytics</h1>
        <p class="summary">Total Events: {{ total_events }}</p>
        <p class="summary">Total Attendance: {{ total_attendance }}</p>
        <p class="summary">Attendance Rate: {{ attendance_rate }}%</p>

        <h2 class="sub-title">Event Attendance</h2>
        <table class="analytics-table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Total</th>
                    <th>Attended</th>
                </tr>
            </thead>
            
            {% for event in event_attendance %}
            
            <tbody>
                
            {% if not event.event__is_training  %}
                <tr>
                    <td>Match vs {{ event.event__team_versus }}</td>
                    <td>{{ event.total }}</td>
                    <td>{{ event.attended }}</td>
                </tr>
                
            {% else %}    
                <tr>
                    <td>Training Session</td>
                    <td>{{ event.total }}</td>
                    <td>{{ event.attended }}</td>
                </tr>
            </tbody>
                
            {% endif %}
                
            {% empty %}    
                <h1 class="title">No events here!!</h1>
            {% endfor %}
        </table>
    </div>
</body>
</html>

{% endblock %}