body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

h1 {
    color: blue;
}

.ball-link {
    width: 50px;
    height: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    text-align: center;
    opacity: 0.8;
}

.links {
    display: flex;
    gap: 20px
}

.links a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 18px;
    transition: all ease-in-out .2s;
}

.links a:hover {
    color: blue;
    border-bottom: 5px solid blue;
}

.base-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    opacity: 0.8;
}

.base-footer i {
    padding-left: 10px;
    font-size: 1.2rem;
}

.players-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.player-card {
    margin-top: 5px;
    background-color: #234465;
    border: 1px solid #234465;
    border-radius: 10px;
    width: 45%;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: shine 3s linear infinite;
    overflow: hidden;
    background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
}

.player-card p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.player-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.players-container .player-card .btn-group button {
    border: 2px solid black;
    border-radius: 14px;
    background-color: #333333;
    color: white;
    padding: 8px 13px;
    font-size: 16px;
}

.players-container .player-card .btn-group button:hover {
    cursor: pointer;
    background-color: green;
    border: 2px solid lightgreen;
    border-radius: 14px;
}

.players-container .player-card .btn-group i {
    padding-right: 5px;
}



