

body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}


h1 {
    color: blue;
}

.ball-link {
    width: 50px;
    height: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    text-align: center;
    opacity: 0.8;
}

.links {
    display: flex;
    gap: 20px
}

.links a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 18px;
    transition: all ease-in-out .2s;
}

.links a:hover {
    color: blue;
    border-bottom: 5px solid blue;
}

.base-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    opacity: 0.8;
}

.base-footer i {
    padding-left: 10px;
    font-size: 1.2rem;
}

.player-form {
    border: 1px solid black;
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 5px 10px;
}

.player-form h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, lightgray, black, lightgray, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player-form label {
    font-size: 16px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    display: block;
}

.player-form input, select{
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.player-form button {
    width: 100%;
    border: 2px solid green;
    border-radius: 14px;
    background-color: green;
    color: white;
    padding: 8px 13px;
    font-size: 16px;
    margin-top: 10px;
}

.player-form button:hover {
    cursor: pointer;
    background-color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 14px;
}

.player-form button i {
    padding-right: 5px;
}

.player-form .edit-btn {
    border: 2px solid #3A8ABE;
    background-color: #3A8ABE;
}

.player-form .edit-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    border-radius: 14px;
    background-color: #3A8ABE;
    border: 2px solid #3A8ABE;
}