.formation {
    width: 600px;
    margin: 0 auto;
}

.scheme-h1  {
    text-align: center;
    font-size: 2rem;
    color: transparent;
    background-image: -webkit-linear-gradient(right, lightgray, black, lightgray, black);
    background-clip: text;
    -webkit-background-clip: text;
}


.scheme-png {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.players img {
    width: 40px;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .scheme-h1 {
        font-size: 1.4rem;
    }

    .scheme-png {
        width: 40%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .formation {
        position: relative;
        width: 100%;
    }

    .players {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10%;
        left: 0;
        display: block;
    }

    .players .defenders {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 9.6%;
        left: 0;
        display: block;
    }

    .players img {
        width: 20px;
        transform: translate(-50%, -50%) scale(0.7);
    }
}

@media (max-width: 480px) {
    .scheme-h1 {
        font-size: 1.4rem;
    }

    .scheme-png {
        width: 40%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .formation {
        position: relative;
        width: 100%;
    }

    .players {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10%;
        left: 0;
        display: block;
    }

    .players .defenders {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 9.6%;
        left: 0;
        display: block;
    }

    .players img {
        width: 20px;
        transform: translate(-50%, -50%) scale(0.7);
    }
}
