.container {
    background-color: rgba(255, 255, 255, 0.95);
    margin: 40px auto;
    padding: 30px;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container h1 {
    font-size: 42px;
    color: #ff4500;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.container h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}


.filters {
    margin: 20px 0;
}
.filters button {
    font-size: 14px;
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.filters button:hover {
    background-color: #e63900;
    transform: scale(1.05);
}
.filters button:active {
    transform: scale(0.95);
}


.no-events {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}


.add-event {
    position: relative;
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s;
}
.add-event:hover {
    background-color: #218838;
    transform: translateY(-3px);
}
.add-event:active {
    transform: translateY(1px);
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .container h1 {
        font-size: 32px;
    }
    .container h2 {
        font-size: 16px;
    }
    .filters button {
        font-size: 12px;
        padding: 8px 15px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 86%;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .container h2 {
        font-size: 14px;
    }
    .filters button {
        font-size: 12px;
        padding: 8px 12px;
        margin: 3px 0;
        width: 100%;
    }
    .add-event {
        font-size: 12px;
        padding: 8px 10px;
    }
    .no-events {
        font-size: 16px;
        height: auto;
        margin-top: 15px;
    }
}

