{% extends "common/base.html" %}
{% block content %}
    
    <h1 class="scheme-h1">Scheme: {{ scheme.scheme }}</h1>
    <div class="formation">
    {% if scheme.scheme == "3-5-2" %}
        <img class="scheme-png" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/3-5-2.png" alt="">
        
        <div class="players">
        <div class="defenders">
        
        <img src="{{ goalkeeper352.image_photo.url }}" style="top: 90%; left: 50.5%;">
        <div class="def">    
        <img src="{{ central1_back352.image_photo.url }}" style="top: 76%; left: 42.5%">
        <img src="{{ central2_back352.image_photo.url }}" style="top: 77%; left: 50.5%">
        <img src="{{ central3_back352.image_photo.url }}" style="top: 76%; left: 58.5%">
        </div>    
        </div>    
        <img src="{{ defensive_midfielder352.image_photo.url }}" style="top: 62.5%; left: 50.3%;">
        <img src="{{ central1_midfielder352.image_photo.url }}" style="top: 55.5%; left: 43.5%">
        <img src="{{ central2_midfielder352.image_photo.url }}" style="top: 55.5%; left: 57%">
        <img src="{{ left_midfielder352.image_photo.url }}" style="top: 43%; left: 38%">
        <img src="{{ right_midfielder352.image_photo.url }}" style="top: 43%; left: 62.3%">
        <img src="{{ strikers1_striker352.image_photo.url }}" style="top: 26.5%; left: 44%">
        <img src="{{ strikers2_striker352.image_photo.url }}" style="top: 26.5%; left: 56.4%">
        </div>

    {% elif scheme.scheme == "4-3-3" %}
        <img class="scheme-png" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Association_football_4-3-3_formation.svg/1200px-Association_football_4-3-3_formation.svg.png">

        <div class="players">
        <div class="defenders">
        
        <img src="{{ goalkeeper352.image_photo.url }}" style="top: 88%; left: 50.5%;">
        <img src="{{ central1_back352.image_photo.url }}" style="top: 77%; left: 45.6%">
        <img src="{{ central2_back352.image_photo.url }}" style="top: 77%; left: 54.5%">
        <img src="{{ right_back352.image_photo.url }}" style="top: 74%; left: 62.5%">
        <img src="{{ left_back352.image_photo.url }}" style="top: 73.5%; left: 38%;">
        </div>    
            
        <img src="{{ central1_midfielder352.image_photo.url }}" style="top: 54%; left: 41.5%">
        <img src="{{ central2_midfielder352.image_photo.url }}" style="top: 57.5%; left: 50%">
        <img src="{{ central3_midfielder352.image_photo.url }}" style="top: 54%; left: 59%">
        <img src="{{ left_winger352.image_photo.url }}" style="top: 34%; left: 37.9%">
        <img src="{{ right_winger352.image_photo.url }}" style="top: 34%; left: 62.4%">
        <img src="{{ strikers1_striker352.image_photo.url }}" style="top: 26.5%; left: 50.4%">
        
        </div>
        
    {% elif scheme.scheme == "3-4-3" %}
        <img class="scheme-png" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Q4pTY0NtB2Y2BwW7g5y2ba5tmcKhfBbz9Q&s">
        
        <div class="players">
        
        <div class="defenders">
        <img src="{{ goalkeeper352.image_photo.url }}" style="top: 89.8%; left: 50.1%;">
        <img src="{{ central1_back352.image_photo.url }}" style="top: 75.7%; left: 41.2%">
        <img src="{{ central2_back352.image_photo.url }}" style="top: 75.7%; left: 50.2%">
        <img src="{{ central3_back352.image_photo.url }}" style="top: 75.3%; left: 59%">
        </div>   
            
        <img src="{{ central1_midfielder352.image_photo.url }}" style="top: 57.3%; left: 45.8%;">
        <img src="{{ central2_midfielder352.image_photo.url }}" style="top: 57.3%; left: 54.5%">
        <img src="{{ left_midfielder352.image_photo.url }}" style="top: 49.5%; left: 38%">
        <img src="{{ right_midfielder352.image_photo.url }}" style="top: 49.5%; left: 62.5%">
        <img src="{{ left_winger352.image_photo.url }}" style="top: 34%; left: 37.9%">
        <img src="{{ right_winger352.image_photo.url }}" style="top: 34%; left: 62.4%">
        <img src="{{ strikers1_striker352.image_photo.url }}" style="top: 26.3%; left: 50.2%">
        
        </div>
        
        
    {% elif scheme.scheme == "4-4-2" %}    
        <img class="scheme-png" src="https://www.liveabout.com/thmb/OkNQcmomXYGQUjums5iQU5YMLyY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Association_football_4-4-2_formation.svg-588fcabc3df78caebc42395a.png">
        
        <div class="players">
        <div class="defenders">
        
        <img src="{{ goalkeeper352.image_photo.url }}" style="top: 86%; left: 50.2%;">
        <img src="{{ central1_back352.image_photo.url }}" style="top: 76.2%; left: 45.0%">
        <img src="{{ central2_back352.image_photo.url }}" style="top: 76.6%; left: 54.7%">
        <img src="{{ right_back352.image_photo.url }}" style="top: 72.3%; left: 62.2%">
        <img src="{{ left_back352.image_photo.url }}" style="top: 72.5%; left: 38%;">
        </div>    
        <img src="{{ central1_midfielder352.image_photo.url }}" style="top: 56.9%; left: 45%;">
        <img src="{{ central2_midfielder352.image_photo.url }}" style="top: 57%; left: 54.4%">
        <img src="{{ left_midfielder352.image_photo.url }}" style="top: 48.5%; left: 38.8%">
        <img src="{{ right_midfielder352.image_photo.url }}" style="top: 48%; left: 61%">
        <img src="{{ strikers1_striker352.image_photo.url }}" style="top: 28.5%; left: 44.5%">
        <img src="{{ strikers2_striker352.image_photo.url }}" style="top: 28.5%; left: 55.4%">
        
        </div>
        
    {% endif %}
        </div>

{% endblock %}